.menu_left{
	padding:0px 5px 0px 5px;
	background:#42a200;
}
div#menu-vertical  ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 100%;
}

div#menu-vertical  a {
  display: block;
  text-decoration: none;	
}

div#menu-vertical  li a {
  color: #FFF;	
  line-height: 20px;
  padding: 6px 0;
  font-size:13px;
  font-weight:bold;
  background: url(../images/arrow_menu.png) no-repeat scroll 2px 12px;
  border-top: 1px solid #296c03;
  text-indent:12px;
}
div#menu-vertical  li:last-child > a{
	border-bottom:none;
}
div#menu-vertical  li a:hover {
	color: #F00;
}

div#menu-vertical  li ul li a {
  color: #FFF;
  padding-left: 12px;
  background: url(../images/arrow_menu.png) no-repeat scroll 13px 12px;
}

div#menu-vertical li ul li:first-child > a{
    border-top:1px solid #296c03;
}

div#menu-vertical  li ul li a:hover {
  padding-left: 12px;
  color: #F00;
}

div#menu-vertical  li ul li ul li a {
  color: #FFF;
  padding-left:28px;
  background: url(../images/arrow_menu.png) no-repeat scroll 28px 12px;
}

div#menu-vertical  li ul li ul li a:hover {
  padding-left: 28px;
  color:#F00;
}



.indent1 { padding-left: 1em; }
.indent2 { padding-left: 2em; }

div#menu-vertical ul li:first-child > a{
    border-top: medium none;
}
div#menu-vertical li a.active_menuleft{
	color: #F00;
}