h1,h2,h3,h4,h5,h6{font-weight:bold;text-rendering:optimizeLegibility}
html{-webkit-font-smoothing:antialiased}

ul{margin-left:0;list-style:none}
ol{margin-left:0;list-style-type:decimal}

td,td img{vertical-align:top}

pre{padding:15px;word-wrap:break-word;white-space:pre;white-space:pre-wrap;white-space:pre-line}
input[type="text"],input[type="tel"],input[type="address"],input[type="email"],textarea{padding:3px;font-family:Arial,sans-serif;font-size:12px;color:#000;vertical-align:middle;background-color:#fff;border:1px solid #d0d4dd;outline:0}
select{padding:3px;font-family:Arial,sans-serif;font-size:12px;color:#000;vertical-align:middle;background-color:#fff;border:1px solid #d0d4dd;outline:0}
input[type="radio"],input[type="checkbox"]{height:16px;padding:3px;font-family:Arial,sans-serif;font-size:12px;color:#000;outline:0}input[type="radio"]{vertical-align:text-bottom}input[type="checkbox"]{vertical-align:middle;*vertical-align:baseline;border:0!important}
.ie7 input[type="checkbox"]{margin-top:4px;margin-left:-3px}
.ie6 input{vertical-align:text-bottom}
label,input[type=button],input[type=submit],button{cursor:pointer}::-moz-selection{color:#fff;text-shadow:none;background:#000}::selection{color:#fff;text-shadow:none;background:#000}
a:link{-webkit-tap-highlight-color:#ff5e99}html{overflow-y:scroll}
button{width:auto;overflow:visible}
.ie7 img{-ms-interpolation-mode:bicubic}.ir{display:block;overflow:hidden;text-indent:-999em;background-repeat:no-repeat}.hidden{display:none;visibility:hidden}.visuallyhidden{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}.invisible{visibility:hidden}.clearfix:after,.section:after{display:block;height:0;clear:both;content:".";visibility:hidden}
.clearfix,.section{display:inline-block}
* html .clearfix{height:1%}.clearfix{display:block}
.clear{clear:both}.fl{float:left}.fr{float:right}

.info-box{position:relative;z-index:2;margin-bottom:20px}
.info-box .pic-info{float:left;width:302px}
.info-box .pic-info .label-sale{position:absolute;top:0;right:0;z-index:1;display:block;width:56px;height:30px;padding:0 6px 0 0;font-size:18px;font-weight:bold;line-height:30px;color:#fff;text-align:right;background:url(../images/main_sprite_v2.1.0.15.png) -274px -496px no-repeat}.info-box .pic-info .pic-info-inside{display:table-cell;width:300px;height:300px;text-align:center;vertical-align:middle;background:url(../images/loading.gif) center center no-repeat;border:1px solid #d3d3d3;box-shadow:1px 1px 3px #eee}.ie7 .info-box .pic-info .pic-info-inside{background-position:top}.info-box .pic-info .img{float:left;width:300px;height:300px;margin-bottom:3px;text-align:center}.info-box .pic-info .want-buy{float:left;padding:3px 6px;padding-left:10px;margin:10px 0 0 55px;font-size:12px;font-weight:bold;background:#f1f3f7 url(../images/icon_list.1.0.5.png) 1px -376px no-repeat;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.info-box .pic-info .btn-edit{display:block;width:110px;height:25px;margin:0 auto;text-indent:-9999px;background:url(../images/main_sprite_v2.1.0.15.png) -115px -138px no-repeat}
.info-box .pic-info .btn-edit:hover{background-position:-115px -163px}

.info-box .zoom-img{width:135px;padding:6px 0 3px 85px;margin-bottom:5px;font-size:11px;font-weight:bold;color:#039;background:url(../images/icon_list.1.0.5.png) 62px -1532px no-repeat}
.info-box .zoom-img a{font-weight:normal}
.info-box .img-gallery{width:256px;height:68px;padding:0 30px;margin:2px 0 0 0;overflow:hidden}
.info-box .img-gallery ul{margin-bottom:10px}
.info-box .img-gallery ul li{position:relative;float:left;width:60px;padding:0px 0 0 0;text-align:center; margin-top:9px;}
.info-box .img-gallery ul li img{width:50px;height:50px;margin:0;border:1px solid #ccc}
.info-box .img-gallery ul li:hover img,.info-box .img-gallery ul li.current img{margin:-2px 0 0 0;border:3px solid #ff7900}
.info-box .img-gallery ul li .arrow-img-gallery{display:none}
.info-box .img-gallery ul li.current .arrow-img-gallery,.info-box .img-gallery ul li:hover .arrow-img-gallery{position:absolute;top:0;left:25px;display:block;width:10px;height:6px;text-indent:-9999px;background:url(../images/icon_mini_v2.1.0.12.png) -373px -34px no-repeat}
.info-box .img-gallery .bx-next,.info-box .img-gallery .bx-prev{position:absolute;top:19px;width:16px;height:32px;text-indent:-9999px;background:url(../images/main_sprite_v2.1.0.15.png) no-repeat}
.info-box .img-gallery .bx-next{right:-20px;background-position:-132px -193px}
.info-box .img-gallery .bx-prev{left:-22px;background-position:-115px -193px}
.info-box .img-gallery .bx-next:hover{background-position:-166px -193px}
.info-box .img-gallery .bx-prev:hover{background-position:-149px -193px}
.info-box .plugin-face2{margin:10px 0 0 0}
.info-box .info-sharing{float:left;width:330px;padding:2px 0 0 5px;margin:0;border-left:1px solid #ddd}
.info-box .info-sharing .plugin-face{float:left;margin-left:5px}
.info-box .info-sharing .is-title{float:left;font-size:11px;line-height:18px;color:#666}
.info-box .info-sharing a{display:block;float:left;width:18px;height:18px;margin-left:5px;text-indent:-9999px;background:url(../images/main_sprite_v2.1.0.15.png) no-repeat}
.info-box .info-sharing .fb-ls{background-position:-235px -168px}
.info-box .info-sharing .zm-ls{background-position:-281px -168px}
.info-box .info-sharing .gg-ls{background-position:-259px -168px}
.info-box .info-sharing .pin-ls{background-position:-405px -168px}
.info-box .info-inner{position:relative;float:right;width:435px}
.info-box .info-inner .code-inf{height:18px;font-size:11px;line-height:18px;color:#656565}
.info-box .info-inner .code-inf .viewer{font-size:11px;font-weight:normal}
.info-box .info-inner .code-inf .viewer strong{font-size:12px;font-weight:bold;color:#333}
.info-box .info-inner .title-product{margin:5px 0;font-size:18px;font-weight:600;color:#2a2a2a}
.info-box .info-inner .title-product span{padding:0 0 0 3px;font-size:11px;font-weight:normal}
.info-box .info-inner .title-product span strong{font-size:12px;font-weight:bold;color:#444}
.info-box .info-inner .bottom-title-product{margin-bottom:10px;border-bottom:1px dotted #bbb}
